{% extends 'dashboard/layout.html.twig' %}

{% block body %}
    <div class="container content-body">
        {{ form_start(form) }}
        <div class="race-config">
            <h2 class="text-center">Race Config</h2>
            <div class="card mt-3">
                <div class="card-header">General info</div>
                <div class="card-body">
                    <div class="form-group row">
                        {{ form_label(form.track, null, {'label_attr': {'class': 'col-sm-6 col-form-label'}}) }}
                        <div class="col-sm-5">
                            {{ form_widget(form.track, {'attr': {'class': 'form-control' ~ (form_errors(form.track)|length > 0 ? ' is-invalid' : '')}}) }}
                            <div class="text-danger">
                                {{ form_errors(form.track) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mt-3">
                        {{ form_label(form.preRaceWaitingTimeSeconds, null, {'label_attr': {'class': 'col-sm-6 col-form-label'}}) }}
                        <div class="col-sm-5">
                            {{ form_widget(form.preRaceWaitingTimeSeconds, {'attr': {'class': 'form-control' ~ (form_errors(form.preRaceWaitingTimeSeconds)|length > 0 ? ' is-invalid' : '')}}) }}
                            <div class="text-danger">
                                {{ form_errors(form.preRaceWaitingTimeSeconds) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mt-3">
                        {{ form_label(form.sessionOverTimeSeconds, null, {'label_attr': {'class': 'col-sm-6 col-form-label'}}) }}
                        <div class="col-sm-5">
                            {{ form_widget(form.sessionOverTimeSeconds, {'attr': {'class': 'form-control' ~ (form_errors(form.sessionOverTimeSeconds)|length > 0 ? ' is-invalid' : '')}}) }}
                            <div class="text-danger">
                                {{ form_errors(form.sessionOverTimeSeconds) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mt-3">
                        {{ form_label(form.ambientTemp, null, {'label_attr': {'class': 'col-sm-6 col-form-label'}}) }}
                        <div class="col-sm-5">
                            {{ form_widget(form.ambientTemp, {'attr': {'class': 'form-control' ~ (form_errors(form.ambientTemp)|length > 0 ? ' is-invalid' : '')}}) }}
                            <div class="text-danger">
                                {{ form_errors(form.ambientTemp) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mt-3">
                        {{ form_label(form.weatherScenario, null, {'label_attr': {'class': 'col-sm-6 col-form-label'}}) }}
                        <div class="col-sm-5">
                            {{ form_widget(form.weatherScenario, {'attr': {'class': 'form-control' ~ (form_errors(form.weatherScenario)|length > 0 ? ' is-invalid' : '')}}) }}
                            <div class="text-danger">
                                {{ form_errors(form.weatherScenario) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mt-3">
                        {{ form_label(form.serverOptions.carGroup, null, {'label_attr': {'class': 'col-sm-6 col-form-label'}}) }}
                        <div class="col-sm-5">
                            {{ form_widget(form.serverOptions.carGroup, {'attr': {'class': 'form-control' ~ (form_errors(form.serverOptions.carGroup)|length > 0 ? ' is-invalid' : '')}}) }}
                            <div class="text-danger">
                                {{ form_errors(form.serverOptions.carGroup) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mt-3">
                <div class="card-header">Sessions</div>
                <div class="card-body">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="practice-tab" data-bs-toggle="tab"
                                    data-bs-target="#practice"
                                    type="button" role="tab" aria-controls="practice" aria-selected="true">Practice
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="qualy-tab" data-bs-toggle="tab" data-bs-target="#qualy"
                                    type="button" role="tab" aria-controls="qualy" aria-selected="false">Qualifying
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="race-tab" data-bs-toggle="tab" data-bs-target="#race"
                                    type="button"
                                    role="tab" aria-controls="race" aria-selected="false">Race
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content mt-3" id="myTabContent">
                        {% for item in form.sessions %}
                            {% if item.sessionType.vars.value == 'P' %}
                                <div class="tab-pane fade show active" id="practice" role="tabpanel"
                                     aria-labelledby="practice-tab">
                                    {% include 'raceEvent/inc/session-card.html.twig' with {'item': item} %}
                                </div>
                            {% elseif item.sessionType.vars.value == 'Q' %}
                                <div class="tab-pane fade" id="qualy" role="tabpanel" aria-labelledby="qualy-tab">
                                    {% include 'raceEvent/inc/session-card.html.twig' with {'item': item} %}
                                </div>
                            {% elseif item.sessionType.vars.value == 'R' %}
                                <div class="tab-pane fade" id="race" role="tabpanel" aria-labelledby="race-tab">
                                    {% include 'raceEvent/inc/session-card.html.twig' with {'item': item} %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="card mt-3">
            <div class="card-header">Entry List</div>
            <div class="card-body">
                <div class="form-group row mt-3">
                    {{ form_label(form.serverOptions.maxCarSlots, null, {'label_attr': {'class': 'col-sm-6 col-form-label'}}) }}
                    <div class="col-sm-5">
                        {{ form_widget(form.serverOptions.maxCarSlots, {'attr': {'class': 'form-control' ~ (form_errors(form.serverOptions.maxCarSlots)|length > 0 ? ' is-invalid' : '')}}) }}
                        <div class="text-danger">
                            {{ form_errors(form.serverOptions.maxCarSlots) }}
                        </div>
                    </div>
                </div>
                <button class="btn btn-warning mt-3" id="add-entry">
                    ADD ENTRY
                </button>
            </div>
        </div>


        <div class="card mt-3">
            <div class="card-header">Server options</div>
            <div class="card-body">
                <div class="form-group row"> {{ form_label(form.serverOptions.overridePassword, null, {'label_attr': {'class': 'col-sm-10 col-form-label'}}) }}
                    <div class="col-sm-5">{{ form_widget(form.serverOptions.overridePassword) }}</div>
                </div>
                <div class="form-group row mt-3">
                    {{ form_label(form.serverOptions.password, null, {'label_attr': {'class': 'col-sm-6 col-form-label'}}) }}
                    <div class="col-sm-5">
                        {{ form_widget(form.serverOptions.password, {'attr': {'class': 'form-control' ~ (form_errors(form.serverOptions.password)|length > 0 ? ' is-invalid' : '')}}) }}
                        {% if form_errors(form.serverOptions.password) %}
                            <div class="invalid-feedback">
                                {{ form_errors(form.serverOptions.password) }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
       {% if form.vars.errors|length > 0 %}
        <div class="alert alert-danger">
            <ul>
                {% for error in form.vars.errors %}
                    <li>{{ error.message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {{ form_widget(form.save) }}
        {{ form_end(form) }}
    </div>
{% endblock %}