<div class="form-group row"> {{ form_label(item.hourOfDay, null, {'label_attr': {'class': 'col-sm-6 col-form-label'}}) }}
    <div class="col-sm-3"> {{ form_widget(item.hourOfDay, {'attr': {'class': 'form-control'}}) }} </div>
</div>
<div class="form-group row"> {{ form_label(item.dayOfWeekend, null, {'label_attr': {'class': 'col-sm-6 col-form-label'}}) }}
    <div class="col-sm-3"> {{ form_widget(item.dayOfWeekend, {'attr': {'class': 'form-control'}}) }} </div>
</div>
<div class="form-group row"> {{ form_label(item.timeMultiplier, null, {'label_attr': {'class': 'col-sm-6 col-form-label'}}) }}
    <div class="col-sm-3"> {{ form_widget(item.timeMultiplier, {'attr': {'class': 'form-control'}}) }} </div>
</div>
<div class="form-group row"> {{ form_label(item.sessionType, null, {'label_attr': {'class': 'col-sm-6 col-form-label'}}) }}
    <div class="col-sm-3"> {{ form_widget(item.sessionType, {'attr': {'class': 'form-control'}}) }} </div>
</div>
<div class="form-group row"> {{ form_label(item.sessionDurationMinutes, null, {'label_attr': {'class': 'col-sm-6 col-form-label'}}) }}
    <div class="col-sm-3"> {{ form_widget(item.sessionDurationMinutes, {'attr': {'class': 'form-control'}}) }} </div>
</div>